<header>
  <nav>
    <a href="/dashboard"><i class="fa-solid fa-house-chimney fa-2x"></i></a>
    <p id="projectName">Smart-To-Do-List</p>
    <button type="button" class="btn btn-outline-warning btn-lg"><a class="navBar" href="/login">Login</a></button>
  </nav>
</header>
