<header>
  <nav>
    <a href="/"><i class="fa-solid fa-house-chimney fa-3x"></i></a>
    <p id="projectName">Dailies</p>
    <div class="signedIn">
      <button type="button" class="btn btn-outline-warning btn-lg"><a class="navBar" href="/">Logout</a></button>
      <a href="/profile" class="profileInfo"><i class="fa-regular fa-user fa-3x"></i><p id="headerUser">DEV</p></a>
    </div>
  </nav>
</header>
