<!DOCTYPE html>
<html lang="en">

<head>
  <title>DASHBOARD PAGE</title>

  <%- include('partials/_link') %>
    <!-- <script type="text/javascript" src="/routes/dashboard.js"></script> -->
    <script type="text/javascript" src="/scripts/show_todo.js"></script>
    <!-- <script type="text/javascript" src="/scripts/helpers.js"></script> -->


</head>

<body>
  <%- include('partials/_header') %>
    <main class="dashboardMain">
      <h3>

        <form action="/dashboard" method="POST" class="movies-form">
          <div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-circle-xmark"></i>
            <input type="text" name="movie" id="movie-query" placeholder="Search" />

          </div>
          <div>
            <button type="submit" class="btn-movies btn-light" placerholder="Add An Item">Add a To-Do Item</button>
          </div>
        </form>
      </h3>
    </main>

    <section class="show_todo">
      <article>
        movie
        <p id="movieList">
        </p>
      </article>
      <article>
        restaurant
        <p id="restaurantList">
        </p>
      </article>
      <article>
        product
        <p id="productList">
        </p>
      </article>
      <article>
        books to Read
        <p id="bookList">
        </p>
      </article>
    </section>

</body>

</html>
