<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dailies Dashboard</title>

  <%- include('partials/_link') %>
    <!-- <script type="text/javascript" src="/routes/dashboard.js"></script> -->
    <script type="text/javascript" src="/scripts/show_todo.js"></script>
    <!-- <script type="text/javascript" src="/scripts/helpers.js"></script> -->


</head>

<body>
  <%- include('partials/_header') %>
    <main class="dashboardMain">
        <form action="/dashboard" method="POST" class="movies-form">
          <div id="searchbar">
            <i class="fa-solid fa-magnifying-glass fa-3x"></i>
            <i class="fa-solid fa-circle-xmark fa-3x"></i>
            <input type="text" name="movie" id="movie-query" placeholder="Search" />
          </div>
          <div>
            <button type="submit" class="btn-movies btn-light" placerholder="Add An Item">Add a To-Do Item</button>
          </div>
        </form>
    </main>

    <section class="show_todo">
      <article>
        <h5 class = "categoryTitle">MOVIES TO WATCH</h5>
        <p id="movieList">
        </p>
      </article>
      <article>
        <h5 class = "categoryTitle">RESTAURANTS TO GO</h5>
        <p id="restaurantList">
        </p>
      </article>
      <article>
        <h5 class = "categoryTitle">PRODUCTS TO BUY</h5>
        <p id="productList">
        </p>
      </article>
      <article>
        <h5 class = "categoryTitle">BOOKS TO READ</h5>
        <p id="bookList">
        </p>
      </article>
    </section>

</body>

</html>
