<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <%- include('partials/_link') %>

</head>

<body>

  <%- include('partials/_header') %>

  <section>
    <figcaption>INCREASE YOUR PRODUCTIVITY</figcaption>
    <div>
      <article id="benefit-1">
        <h3>Benefit 1</h3>
      </article>
      <article id="benefit-2">
        <h3>Benefit 2</h3>
      </article>
      <article id="benefit-3">
        <h3>Benefit 3</h3>
      </article>
    </div>
  </section>
  <div id="getStarted">
    <button type="submit"><a href="/register">Get Started, Click Here!</a></button>
  </div>
  <iframe id="existing-iframe-example" width="100%" height="500"
    src="https://www.youtube.com/embed/jfKfPfyJRdk?autoplay=1&mute=1&enablejsapi=1" frameborder="0"
    style="border: solid 4px #37474F"></iframe>
</body>

</html>
