<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dailes Homepage</title>

  <%- include('partials/_link') %>

</head>

<body>

  <%- include('partials/_header') %>
  <iframe id="existing-iframe-example" width="100%" height="500"
    src="https://www.youtube.com/embed/lfD3LJo5IAE?autoplay=1&mute=1&enablejsapi=1" frameborder="0"
    style="border: solid 4px #37474F"></iframe>
  <section>
    <figcaption>BE MORE PRODUCTIVE</figcaption>
    <div>
      <article id="benefit-1">
        <h3>Smart Sorting</h3>
        <p class="benefitText">Have something you want to watch, eat, read, or buy? Type it in and Smart-To-Do-List will sort it for you.</p>
        <i class="fa-solid fa-folder-tree fa-6x"></i>
      </article>
      <article id="benefit-2">
        <h3>Simple & Intuitive</h3>
        <p class="benefitText">No explanation needed. <br>Mark off what you've completed and remove what you no longer need.</p>
        <i class="fa-solid fa-thumbs-up fa-6x"></i>
      </article>
      <article id="benefit-3">
        <h3>Save Your List</h3>
        <p class="benefitText">Register an account to save your list. Open it again from wherever you are.</p>
        <i class="fa-solid fa-sd-card fa-6x"></i>
      </article>
    </div>
  </section>
  <div id="getStarted">
    <button type="submit" class="btn btn-primary"><a href="/register">Register Here!</a></button>
  </div>
</body>

</html>
