<!DOCTYPE html>
<html lang="en">

<head>
  <title>LOGIN PAGE</title>

  <%- include('partials/_link') %>
  <script type="text/javascript" src="/routes/login.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
  <h1>LOGIN</h1>
  <main>
    <form action="/login" method="POST" class="login-form">
      <div>
        <label for="email">Email Address:</label>
        <input type="email" name="email" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" />
      </div>
      <button type="submit" class="btn-register">Login</button>
    </form>

  </main>

</body>

</html>
