<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dailies Login</title>

  <%- include('partials/_link') %>
  <script type="text/javascript" src="/routes/login.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
  <main class="registerMain">
    <h1 id="register">LOGIN</h1>
    <form action="/login" method="POST" id="login-form">
      <div class="registerBox">
        <label for="username">Username:</label>
        <input type="text" name="email" />
        <label for="password">Password:</label>
        <input type="password" name="password" />
      </div>
      <button type="submit" class="btn-register btn-secondary">Submit</button>
    </form>
</body>

</html>
