<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile Page</title>

  <%- include('partials/_link') %>
    <script type="text/javascript" src="/routes/register.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
    <main class="profileMain">
      <section id="profileRight">
        <img class="profileImage"
          src="https://www.nicepng.com/png/detail/875-8759926_coolcat-sticker-mlg-cat-with-glasses.png" alt="CatJam"
          style="width:300px; height: 300px;">
        <section id="userInfo">
          <p>Username: Kool Kat</p>
          <p>Restaurant Preferences: Italian, Japanese</p>
          <p>Movie Genre Preferences: Horror, Comedy</p>
          <p>Hobbies: Tech, Sports</p>
          <p>Reading Genre Preferences: Thriller, Suspense</p>
        </section>
      </section>
      <button class="btn-secondary profile-submit">Edit Profile Information</button>
    </main>

</body>

</html>
