<!DOCTYPE html>
<html lang="en">

<head>
  <title>REGISTER PAGE</title>

  <%- include('partials/_link') %>
  <script type="text/javascript" src="/routes/register.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
  <h1>REGISTER</h1>
  <main>
    <form action="/register" method="POST" class="registration-form">
      <div>
        <label for="email">Email Address:</label>
        <input type="email" name="email" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" />
      </div>
      <button type="submit" class="btn-register">Submit</button>
    </form>

  </main>

</body>

</html>
