<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dailies Register</title>

  <%- include('partials/_link') %>
    <script type="text/javascript" src="/routes/register.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
    <main class="registerMain">
      <h1 id="register">REGISTER</h1>
      <form action="/register" method="POST" class="registration-form">
        <div class="registerBox">
          <label for="email">Email Address:</label>
          <input type="email" name="email" />
          <label for="password">Password:</label>
          <input type="password" name="password" />
        </div>
        <button type="submit" class="btn-register btn-secondary">Submit</button>
      </form>

    </main>

</body>

</html>
