$nav-bar: #493657;
$body-background: white;

body {
  font-size: 14px;
  background: $body-background;
}

nav {
  background: $nav-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  color: $body-background;

  :nth-child(2n-1) {
    margin: 0% 5%
  }
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  figcaption {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #0C0C0C
  }

  div {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 3% 10%;

    #benefit-1 {
      h3 {
        color: #CE7DA5;
        font-weight: 900;
      }
    }

    #benefit-2 {
      h3 {
        color: #BEE5BF;
        font-weight: 900;
      }
    }

    #benefit-3 {
      h3 {
        color: #FFD1BA;
        font-weight: 900;
        justify-self: flex-end;
      }
    }

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Sans-serif, serif;
      justify-content: space-around;
      font-size: 1.2em;
      background-color: #F6F5F5;
      padding: 1% 2% 5%;
      flex-basis: 30%;
      text-align: center;

      h3 {
        display: inline;
        font-size: 1.4em;
        margin-top: 5%;
        margin-bottom: 10%
      }

      .benefitText {
        font-size: 1.1rem;
        color: #808080;
        text-justify: inter-word;
      }

    }
  }
}

#getStarted {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.show_todo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  article {
    width: 20%;
    height: 100%;
    border: 1px solid $nav-bar;
    background-color: $body-background;
  }
}

#projectName {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

.navBar {
  color: $body-background;
}

.btn-outline-warning {
  display: flex;
  justify-content: center;
}

.btn-primary {
  width: 20%;
  height: 5em;
  margin-bottom: 5%;
 a {
  color: white;
  width: 100%;
  font-size: 2em;
 }
}

.fa-6x {
  margin-top: 20%;
  color: #808080;
}

.btn-outline-warning {
border: none;
}

.fa-house-chimney:hover {
  color: gold;
  cursor: pointer;
}
